*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.li_item
{
    list-style: none;
}

.link
{
    text-decoration: none;
    color:aliceblue;
    font-size: 1rem;
}

.contenedor_home
{
    display: flex;
    position: relative;
    background: rgb(1,0,10);
    background-image: url(img/fondo8.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    align-content: center;
    font-family: 'Titillium Web';
}

.contenedor
{
    padding: 20px;
    margin: 20px;
    background: rgba(19, 14, 14, 0.9);
    width: 100%;
    height: 90%;
    
    
}

.navbar
{
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar .logo

{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px #fff;
    color:antiquewhite;
}

.navbar .lista_navegacion
{
    display: flex;
    gap: 2rem;
    
}

.navbar .lista_navegacion .li_item
{
    list-style: none;
    position: relative;
    font-size: 2rem;
}
.navbar .lista_navegacion .li_item .link
{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #940253;
    text-transform: uppercase;
    transition: .25 ease-in;
}
.navbar .toggle_btn
{
    color: aliceblue;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    margin-right: 20px;
   
}

.navbar .lista_navegacion .li_item::after
{
    content: "";
    height: 2px;
    width: 0%;
    background:#940253;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbar .lista_navegacion .li_item:hover::after
{
    width: 100%;
}

.navbar .lista_navegacion .li_item .link:hover
{
    text-shadow: 0 0 35px #fff;
}

span
{
    color: #940253;
    font-weight: bold;
    
}

.content
{
    width: 100%;
    position: relative;
    z-index: 10;
    top: 10%;
    text-align: center;
    color:antiquewhite;
}

.content h1
{
    font-size: 60px;
    margin-top: 80px;
    color:antiquewhite;
}


.content a
{
    text-decoration: none;
    color: antiquewhite;
    margin:60px auto;
    font-size: 20px;
    font-weight: 100;
    
}

.content p
{
    margin-top: 50px;
}

/* ##### Barra Navegación para Responsivo #####*/

.responsive_navbar
{
    display: none;
    position: absolute;
    right: 2rem;
    top: 120px;
    width: 200px;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: none;
}

.open 
{
    height: 210px;
}

.responsive_navbar .li_res
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive_navbar .li_res .link_res
{
    text-decoration: none;
    color:aliceblue;
    
}

.responsive_navbar .li_res .link_res:hover
{
    text-decoration: none;
    color:teal;
    
}

/* ##### Diseño Responsivo #####*/

@media screen and (max-width:1000px){

.navbar .lista_navegacion
{
    display:none
}

.navbar .toggle_btn
{
    display: block;
}

.responsive_navbar
{
    display: block;
}
.responsive_navbar  .li_res
{
    list-style: none;
    position: relative;
    text-decoration: none;
}

.navbar .logo
{
    color:darkolivegreen;
    font-size: 0.8rem;
}

span
{
    color: teal;
    font-weight: bold;
    text-transform: uppercase;
}

.content
{
    width: 100%;
    position: relative;
    z-index: 10;
    top: 20%;
    text-align: center;
    color:antiquewhite;
}

.content h1
{
    font-size: 30px;
    margin: 80px;
    color:antiquewhite;
}


.content p
{
    margin:auto;
    font-size: 12px;
    font-weight: 100;
    line-height: 10px;
}


}

