/*____ Estilos Generales____*/
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');


  
  .sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
  }

*
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    
}

:root
{
    --main-bg-color: #f0f0f0;
    --gradient-color-A : rgba(8, 29, 223, 0.144);
    --gradient-color-B : rgb(2, 8, 85);
    --detail-color: rgb(24, 20, 226);
    --link-main-text-color: #fff;
    --link-bg-color: rgba(0,0,0,0.5);
    --line-color: rgb(64, 0, 255);
    --border-color: #fff;
    --white-color: white;
    --black-color : black;
    --gradient-main-A:rgba(202, 193, 219, 0.5);
    --gradient-main-B:rgb(25, 25, 27);
}

body
{
    background-color: var(--main-bg-color);
}

h1
{
    font-size: 50px;
    color: rgb(64, 0, 255);
    font-weight: bold;
    text-shadow: 1px 1px 2px  var(--black-color);
}

/*____ Fin Estilos Generales____*/


/*____ Estilos Sección Home____*/
.banner
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,var(--gradient-color-A),var(--gradient-color-B)), url(img/fondo4.jpg);
    background-size: cover;
    background-position: center;
}

span
{
    color: var(--detail-color);
    font-weight: bold;
    text-transform: uppercase;
}

.navbar
{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--link-main-text-color);
    text-transform: uppercase;
    transition: .25s ease-in;
}

/*-----PSEUDO ELEMENTOS-----*/
.navbar ul li::after
{
    content: "";
    height: 2px;
    width: 0%;
    background: var(--line-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbar ul li:hover::after
{
    width: 100%;
}

.navbar ul li a:hover
{
    text-shadow: 0px 0px 20px var(--detail-color);
}

svg
{
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}


.content
{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--white-color);
}

.content h1
{
    font-size: 70px;
    margin: 80px;
    color: var(--white-color);
}


.content p
{
    margin: 20px auto;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
}

/*-----ESTILOS RESPONSIVOS-----*/
@media(min-width: 1px) and (max-width:1100px)
{
    :root
{
    --main-bg-color: #f0f0f0;
    --gradient-color-A : rgba(61, 0, 152, 0.35);
    --gradient-color-B : rgba(0,0,0,1);
    --detail-color: rgb(139, 8, 214);
    --link-main-text-color: #fff;
    --link-bg-color: rgba(0,0,0,0.5);
    --line-color: rgb(64, 0, 255);
    --border-color: #fff;
    --white-color: white;
    --black-color : black;
}
    .banner
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,var(--gradient-color-A),var(--gradient-color-B)), url(img/fondo1.jpg);
    background-size: cover;
    background-position: center;
}
    
    svg
    {
        display: none;

    }


    h1
    {
        font-size: 40px;      
        text-align: center;
               
    }

    .content h1
    {
        font-size: 25px;      
        text-align: center;
        
    }

    .navbar
    {
        margin: auto;
        display: flex;
        flex-direction: column;
        
       
    }

    .navbar ul li
    {       
        margin: 10px;
        text-align: center;
        
    }

    .navbar ul li a
    {
        font-size: 15px;
        
    }
    

    
}
